<a href="https://colab.research.google.com/github/ajayt0m/Python-Practice/blob/main/Python_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Training programs**

---

# **Python program to find greatest of two numbers**

In [ ]:
#haiiiiiiiiiiiiiiii
# Python program to find greatest of two numbers
number1 = input("Input the number")
number2 = input("Input the second number")

def maximum(a, b) :
    if (a > b):
        return a
    else:
        return b
    
max = maximum(number1, number2)
print("The maximum is {0}" .format(max))

# **Python program to find greatest of 3 numbers**

In [ ]:
#Python program to find greatest of 3 numbers
number1 = input("Input the first number ")
number2 = input("Input the second number")
number3 = input("Input the third number")

def maxx(a, b, c):
    if (a > b and a > c):
        return a
    elif (b > a and b > c):
        return b
    else:
        return c
maximum = maxx(number1, number2, number3)
print("The maximum is {0}" .format(maximum))

# **Python program to print the factorial**

In [ ]:
#Python program to print the factorial
number1 = int(input("Input the number to find the factorial "))

def factorial(a):
    fact = 1
    while (a > 0):
        fact = fact * a
        a = a - 1
    return fact

facto = factorial(number1)
print(facto)

# **Python program to calculate simple interest**

In [ ]:
#Python program to calculate simple interest
principle = int(input("Principle :"))
time = int(input("Time:"))
rate = int(input("Rate:"))
def si(a, b ,c):
    value = (a*b*c)/100
    return value
print(si(principle, time, rate))

# **Python program to calculate compound interest**

In [ ]:
#Python program to calculate compound interest
principle = int(input("Principle :"))
time = int(input("Time:"))
rate = float(input("Rate:"))
def ci(a, b ,c):
    amount = a*(pow(1+(c/100), b))
    value = amount - a
    return value
print(ci(principle, time, rate))

# **Python program to check armstrong number**

In [ ]:
#Python program to check armstrong number
number = int(input("Enter a number"))
 
def multiply(b):
  i = 0
  while (b > 0):
    i = i + 1
    b = b // 10
  return i 

def armstrong(a,n):
    totalsum = 0  
    while (a > 0):
        digit = a % 10;
        digitsum = pow(digit, n)
        totalsum = totalsum + digitsum
        a = a//10
    return totalsum
new = armstrong(number, multiply(number))
if (new == number):
  print("{0} is an armstrong number" .format(number))
else:
  print("{0} is not an armstrong number" .format(number))

Enter a number371
371 is an armstrong number

# **Python program to print all Prime numbers in an Interval**

In [ ]:
#Prime numbers in an interval
lowerlimit = int(input("Input the lower limit:"))
upperlimit = int(input("Input the upper limit:"))

def prime(a):
  if (a== 0 or a == 1):
    return -1
  elif (a == 2):
    return 1
  else:
    check = 0
    for i in range (2,a):
      if ((a % i) == 0):
        check = 1
    if(check == 0):
      return 1

for j in range (lowerlimit,upperlimit+1):
  if(prime(j) == 1):
    print(j)

# **Python program to print Fibonacci series**

In [ ]:
def fibonacci(a):
  if (a <= 0):
    print("Invalid entry")
  elif(a == 1):
    return 0
  elif(a == 2):
    return 1
  else:
    return fibonacci(a-1) + fibonacci(a-2)

n = int(input("Enter the upper limit"))
for i in range(1,n):
  print(fibonacci(i))

Enter the upper limit10
0
1
1
2
3
5
8
13
21

# **Display array**

In [ ]:
arr = []
l = int(input("Input the size of array"))
for i in range(0,l):
  arr.append(i)
  print(arr[i])

# **Check Fibonacci with array**

In [ ]:
def fibonacci(n):
  if (n <= 0):
    print("Invalid Entry")
  elif (n == 1):
    return 0
  elif (n == 2):
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

l = int(input("Enter the size"))
arr = [] 
for i in range (1,l):
  arr.append(fibonacci(i))
print(arr)
length = len(arr)
print("Size of array = {0}" .format(length))
check = int(input("Enter number to be checked:"))
if (check in arr):
    print("Element is in fibonacci series")
elif (check not in arr):
  print("Element doesn't exist")

Enter the size20
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
Size of array = 19
Enter number to be checked:89
Element is in fibonacci series

# **Sort using inbuilt function - Strings**

In [ ]:
cars = []
for i in range(0,5):
  value = input("Enter car")
  cars.append(value)
print(cars)
cars.sort()
print(cars)

Enter carmaruti
Enter carhyundai
Enter caralbo
Enter carlamborghini
Enter carbugati
['maruti', 'hyundai', 'albo', 'lamborghini', 'bugati']
['albo', 'bugati', 'hyundai', 'lamborghini', 'maruti']

# **Sort using inbuilt function - Numbers**

In [ ]:
numbers = []
for i in range(0,5):
  value = int(input("Enter a number: "))
  numbers.append(value)
print(numbers) 
numbers.sort()
print(numbers)

Enter a number: 17
Enter a number: 2
Enter a number: 98
Enter a number: 16
Enter a number: 8
[17, 2, 98, 16, 8]
[2, 8, 16, 17, 98]

# **Sorting - numbers**

In [ ]:
import random
arr = []
for i in range(0,10):
  n = random.randint(0,20)
  arr.append(n)
print(arr)

def sort(array):
  for i in range(0,len(array)):
    for j in range(0, len(array)):
      if(array[i] < array[j]):
        temp = array[i]
        array[i] = array[j]
        array[j] = temp

sort(arr)
print(arr)

[1, 14, 12, 10, 16, 13, 11, 7, 10, 15]
[1, 7, 10, 10, 11, 12, 13, 14, 15, 16]

# **Tuples**

In [ ]:
tuple = (1,2,3,4,5)
print(tuple[-4:-1])

(2, 3, 4)

# **Dictionaries**

In [ ]:
thisdict = {}
for i in range(0,4):
  key = input("Enter the key")
  value = input("Enter the value")
  thisdict[key] = value 
print(thisdict)

Enter the keyhai
Enter the valueajay
Enter the keyhello
Enter the valueakshay
Enter the keyhola
Enter the valueabhay
Enter the keynamaskaram
Enter the valueesha
{'hai': 'ajay', 'hello': 'akshay', 'hola': 'abhay', 'namaskaram': 'esha'}

# **Cybrosys Test**

In [ ]:
#Question 1
lowerlimit = int(input("Enter the lowerlimit: "))
upperlimit = int(input("Enter the upperlimit: "))
if (lowerlimit%2 != 0):
  lowerlimit = lowerlimit + 1;
for i in range (lowerlimit, upperlimit):
  print(i)
  i = i +2

In [ ]:
#Question 3
str = input("Enter the string")
new = str.split()
for i in range(0,len(new)):
  print(new[i])

In [ ]:
#Question 2
j = 1000000
arr = []
while (j != 0):
  i = 1
  arr.clear()
  while (i<j):
    arr.append(i)
    i = i * 10
  for i in range(0, len(arr)):
    print(arr[i], end = " ")
  print("\n")
  j = j//10

1 10 100 1000 10000 100000

1 10 100 1000 10000

1 10 100 1000

1 10 100

1 10

1